[submodule "5-区块链与智能合约开发/5-4-以太坊-solidity/silidity-examples/lib/forge-std"]
	path = 5-区块链与智能合约开发/5-4-以太坊-solidity/silidity-examples/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-区块链与智能合约开发/5-7-以太坊-彩票/lottery-eth/lib/forge-std"]
	path = 5-区块链与智能合约开发/5-7-以太坊-彩票/lottery-eth/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-区块链与智能合约开发/5-8-以太坊-众筹/funding-eth/lib/forge-std"]
	path = 5-区块链与智能合约开发/5-8-以太坊-众筹/funding-eth/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-区块链与智能合约开发/5-6-以太坊-web3/web3-project/lib/forge-std"]
	path = 5-区块链与智能合约开发/5-6-以太坊-web3/web3-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "5-区块链与智能合约开发/5-11-ipfs使用/ebay-eth/lib/forge-std"]
	path = 5-区块链与智能合约开发/5-11-ipfs使用/ebay-eth/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
