# Anvil 本地链（forge deploy:local 使用）
RPC_URL=http://127.0.0.1:8545
DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# React 前端（CRA）变量必须以 REACT_APP_ 开头
REACT_APP_RPC_URL=http://127.0.0.1:8545
REACT_APP_CONTRACT_ADDRESS=
