# Anvil 本地链（无 MetaMask 时使用）
VITE_RPC_URL=http://127.0.0.1:8545

# forge script 部署后填入
VITE_CONTRACT_ADDRESS=

# IPFS API（ipfs daemon）
VITE_IPFS_HOST=127.0.0.1
VITE_IPFS_PORT=5001
VITE_IPFS_PROTOCOL=http

# IPFS 网关（浏览器展示图片）
VITE_IPFS_GATEWAY_URL=http://127.0.0.1:8848
